name: Release Helm Chart

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build dependencies
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm dependency build

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Package and push
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          helm package .
          helm push n8n-*.tgz "oci://ghcr.io/${OWNER}/charts"
